* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

header {
  height: 700px;
  background-image: url("../img/Path 338.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header .row {
  align-items: center;
}
header .row .headings button {
  background-color: #9979EF;
  border: none;
  border-radius: 25px 25px 25px 0;
  padding: 10px 18px;
  color: white;
  font-size: 15px;
}
header .row .headings h2 {
  font-size: 24px;
  font-weight: normal;
}
header .row .headings h5 {
  font-weight: normal;
  font-size: 4.4rem;
}
header .row .headings h5.bold {
  margin-bottom: 40px;
  font-weight: 900;
}
header .row .col-6 img {
  position: absolute;
  width: 60rem;
  top: -648%;
  left: -80%;
}
header nav a {
  font-size: 1.08rem;
  transition: 0.3s ease;
  text-decoration: none !important;
  margin-right: 20px;
  font-weight: bold;
  color: black;
}
header nav a:hover {
  color: #7b7bd3;
}
header .logo h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 10px;
}

#products {
  min-height: 1000px;
  background-image: url("../img/Path 527.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: right top;
}
#products .col-6 .items {
  margin-top: 100px;
  width: 500px;
}
#products .col-6 .items button {
  margin-top: 100px;
  background-color: #9979EF;
  border: none;
  border-radius: 25px 25px 25px 0;
  padding: 10px 18px;
  color: white;
  font-size: 15px;
}
#products .col-6 .items h3 {
  text-transform: uppercase;
}
#products .col-6 .items h5 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
}
#products .col-6 img {
  width: 100%;
}

#services .col-3 .item-box.selected {
  background-color: #9979EF;
  color: white;
}
#services .col-3 .item-box {
  cursor: pointer;
  padding: 30px;
  text-align: center;
  border: 1px solid #9979EF;
  border-radius: 50px;
}
#services .col-3 .item-box h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
}
#services .col-3 .item-box img {
  width: 65px;
  height: 65px;
}
#services span {
  line-height: 55px;
  font-size: 3rem;
}
#services span span {
  font-weight: 900;
}

#creativity .row {
  justify-content: center;
}
#creativity .row button {
  background-color: #9979EF;
  border: none;
  border-radius: 25px 25px 25px 0;
  padding: 10px 18px;
  color: white;
  font-size: 15px;
}
#creativity .col-6 img {
  border-radius: 30px;
  object-fit: cover;
  height: 350px;
  margin-top: 30px;
  width: 100%;
}
#creativity .col-5 img {
  border-radius: 30px;
  margin-bottom: 30px;
  object-fit: cover;
  width: 100%;
}
#creativity .col-7 img {
  border-radius: 30px;
  object-fit: cover;
  height: 340;
  width: 100%;
}
#creativity .row.first {
  justify-content: space-between;
  align-items: flex-end;
}
#creativity .row.first nav a {
  margin-right: 30px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
#creativity span {
  line-height: 55px;
  font-size: 3rem;
}
#creativity span span {
  font-weight: 900;
}

#superheros .row {
  justify-content: center;
}
#superheros .row button {
  background-color: #9979EF;
  border: none;
  border-radius: 25px 25px 25px 0;
  padding: 10px 18px;
  color: white;
  font-size: 15px;
}
#superheros .col-8 .img-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#superheros .col-8 .img-box img:first-child {
  width: 40%;
  border-radius: 30px;
  object-fit: cover;
}
#superheros .col-8 .img-box img:nth-child(2) {
  margin-top: 27%;
  height: 200px;
  width: 20%;
  border-radius: 30px;
  object-fit: cover;
}
#superheros .col-8 .img-box img:last-child {
  margin-top: -8%;
  height: 300px;
  width: 30%;
  border-radius: 30px;
  object-fit: cover;
}
#superheros .col-4 .headings {
  margin-top: 40%;
}
#superheros .col-4 .headings p {
  margin-top: 40px;
}
#superheros .col-4 .headings span {
  line-height: 55px;
  font-size: 3rem;
}
#superheros .col-4 .headings span span {
  font-weight: 900;
}

#brands .row ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#what-clients-say {
  background-color: #F3F7FF;
}
#what-clients-say .row {
  justify-content: center;
}
#what-clients-say .row .slider {
  position: relative;
  width: 35%;
  text-align: center;
}
#what-clients-say .row .slider .arrow.left {
  left: -300px;
  top: 30%;
}
#what-clients-say .row .slider .arrow.right {
  right: -300px;
  top: 30%;
}
#what-clients-say .row .slider .arrow {
  position: absolute;
  border-radius: 50%;
  padding-bottom: 5px;
  padding: 0 15px 7px 15px;
  display: inline-block;
  background-color: #F1F1F1;
  font-size: 2rem;
}
#what-clients-say .row .slider span {
  font-size: 14px;
  font-weight: 300;
}
#what-clients-say .row .slider img {
  margin-bottom: 35px;
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
#what-clients-say .row h3 {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 3rem;
}

#choose-your-plan {
  background-image: url("../img/Path 337.png");
  background-size: cover;
  background-position-x: left;
}
#choose-your-plan .row {
  justify-content: center;
}
#choose-your-plan .row .box.active {
  padding-top: 50px;
  transform: scale(1.2);
  z-index: 1;
}
#choose-your-plan .row .box.active img {
  width: 90px;
}
#choose-your-plan .row .box.active h2 {
  margin-top: 20px;
  font-weight: 700;
}
#choose-your-plan .row .box.active button {
  background-color: #9979EF;
  color: white;
}
#choose-your-plan .row .box {
  background-color: white;
  border-radius: 40px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  width: 300px;
  border: 1px solid #c5b3f5;
}
#choose-your-plan .row .box img {
  width: 50px;
}
#choose-your-plan .row .box button {
  background-color: white;
  color: #9979EF;
  border: none;
  border-radius: 25px 25px 25px 0;
  padding: 10px 18px;
  font-size: 15px;
}
#choose-your-plan .row h3 {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 3rem;
}

#need-something {
  margin-top: 150px;
  margin-bottom: 150px;
  background-image: url("../img/Path 339.png");
  background-size: cover;
}
#need-something .col-7 h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 25px;
  margin-top: 15px;
}
#need-something .col-5 .row button {
  position: absolute;
  right: 15%;
  top: 30%;
  background-color: #9979EF;
  border: none;
  border-radius: 25px 25px 25px 0;
  padding: 10px 18px;
  color: white;
  font-size: 15px;
}

footer {
  background-color: #FFF2CE;
}
footer .row .row.end {
  justify-content: center;
}
footer .line {
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid black;
}
footer .col-6 p {
  width: 70%;
}
footer .col-6 .col-4 ul {
  list-style: none;
  font-size: 0.9rem;
}
footer .col-6 .col-4 h3 {
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
